html {
  font-family: "Avenir Next", Helevetica, sans-serif;
  text-align: center;
}

body {
  max-width: 100%;
  margin: 0 auto;
}

input {
  margin-top: 10px;
  width: 500px;
  height: 40px;
  font-size: 20px;
  border: 0;
}
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
section{
  min-height: 20px;
  background: #806565;
  text-align: center;
  color: black;
}
button{
  height:40px;
  border:0;
  padding-left: 5px;
  padding-right: 5px;
}
.note{
  font-size: 15px
}
input:focus {
  outline: none;
}

li {
  text-align: center;
  font-size: 15px;
  list-style: none;
  margin: 0;
}

footer{
  padding: 10px;
  margin-top: 5px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}